<% add_extra_css('salary-calculator.css') %>
<% add_extra_js('libs/vue.min.js', 'libs/vue-select.min.js', 'salary-calculator-vue.js') %>

<div class="salary-container col-xs-12" data-role="<%= locals.fetch(:role, nil) %>">
  <h2 id="compensation">Compensation</h2>
  <div class="role margin-bottom10" v-if="showRoleSelector">
    <h4>Select a role</h4>
    <salary-calculator-select
      :searchable="true"
      :options="sourceData.roles"
      v-model="currentRole"
      label="Role"
      title-field="title"
      />
  </div>
  <div v-if="renderCalculator">
    <div class="col-sm-8">
      <div class="col-sm-6">
        <div class="level" v-if="roleLevels">
          <salary-calculator-select
            :options="roleLevels"
            v-model="currentLevel"
            label="Level"
            title-field="title"
            :option-value="formatRoleLevel"
            />
        </div>
        <div class="dropdown level" v-else>
          <button class="dropdown-menu-toggle btn" data-toggle="dropdown" disabled type="button">
            <span class="label">Level</span>
            <span class="title" data-selected="1.0">N/A</span>
            <span class="subtitle">1.0</span>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="experience">
          <salary-calculator-select
            :options="experienceFactors"
            v-model="currentExperience"
            label="Experience factor"
            title-field="label"
            :option-value="formatExperienceFactor"
            />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="country">
          <salary-calculator-select
            :searchable="true"
            :options="countries"
            v-model="currentCountry"
            label="Country"
            title-field="label"
            />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="area">
          <salary-calculator-select
            :disabled="!currentCountry"
            :searchable="true"
            :options="areas"
            v-model="currentArea"
            label="Area"
            title-field="area"
            :option-value="formatArea"
            />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="compensation">
        <div class="title">Annual Compensation</div>
        <div class="amount">{{ compensationRange }}</div>
        <div class="converted-local-currency" v-if="localCurrencyRange">
          <a href="/handbook/people-operations/global-compensation/#exchange-rates">
            {{ localCurrencyRange }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 js-country-no-hire" :class="canHireCountry && 'hide'">
      <div class="alert alert-warning">
        Unfortunately GitLab is not hiring in your selected country at
        this time. Please read our
        <a href="/handbook/hiring/#country-hiring-guidelines">hiring handbook</a>
        for more details.
      </div>
    </div>
    <div class="col-sm-12 formula-container">
      <h4>How did we calculate your compensation?</h4>
      <div class="formula">
        <div class="variable-group">
          <div class="variable benchmark">
            <span class="name">SF benchmark</span>
            <span class="value">{{ formatAmount(currentRole.salary) }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable locationFactor">
            <span class="name">Location Factor</span>
            <span class="value">{{ currentLocationFactor || '--' }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable level">
            <span class="name">Level</span>
            <span class="value">{{ currentLevelFactor }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable experience">
            <span class="name">Experience</span>
            <span class="value">{{ currentExperience.min }} to {{ currentExperience.max }}</span>
          </div>
        </div>
        <div class="symbol multiplication">x</div>
        <div class="variable-group">
          <div class="variable contractFactor">
            <span class="name">Contract Factor</span>
            <span class="value">{{ contractTypeFactor || '--' }}</span>
          </div>
        </div>
      </div>
      <div class="explanation">
        Find out
        <a href="/handbook/people-operations/global-compensation#compensation-calculator">how our calculator works</a>.
        You are also eligible for
        <a href="/handbook/stock-options/">stock options</a>
        and
        <a href="/handbook/benefits/">other benefits</a>.
        <span class="contract-type" v-if="calculateCompensation">
          Based on the information provided, we expect you will be
          <span v-if="contractType.employee_factor">
            an <b>employee</b>
          </span>
          <span v-else>
            a <b>contractor</b>
          </span>
          of
          <a href="/handbook/benefits/#entity-specific-benefits">{{ contractType.entity }}</a>.
        </span>
      </div>
    </div>
  </div>
</div>
